{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "syntax-class-properties",
    "transform-class-properties",
    "babel-plugin-add-module-exports",
    "transform-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
